*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration-line: none;
    color: white;
}
li{
    list-style-type: none;
    margin-left: 20px;
    
}
#navJoin{
    padding: 12px;
    background-color:#06bbcc;
    
}

a:hover {
    color: #19d5e6 !important;
  }
  .ms-10{
    margin-left: 10px;
}
.bg{
    background-color: #06bbcc;
}
.page-header {
    background: linear-gradient(rgba(23, 29, 56, .3), rgba(24, 29, 56, .7)), url('images/carousel-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px; 
    position: relative;
    opacity: 0.5;
}

.text-white{
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    display: none;
}
.fa-globe,.fa-graduation-cap,.fa-book-open-reader,.fa-house{
 font-size: 50px;   
}

.about-card:hover{
    background-color: #06bbcc;
    color: white;
}
.aboutusSection{
    margin: auto;
}
.row{
justify-content: center
}
.about-card{
width: 250px;
    text-align: center;
    padding: 45px;
    margin-left: 20px;
    opacity: 0;
    transform: translateY(200px);
}
.about-card.open{
transform: translateY(0);
transition: 1s;
    opacity: 1;
}

.instructor-element{
    opacity:0;
    transform: translatey(200px);
}

.aboutus-element{
    opacity: 0;
    transform: translatex(200px);
}
.aboutus-element.open{
    transform: translatex(0);
    transition: 1s;
        opacity: 1;  
}
.instructor-element.open{
    transform: translateY(0);
    transition: 1s;
        opacity: 1;
    
}

.about-card:hover{
    transform: scale(1.1);
    border: 1px solid black;
}
.aboutusData img{
    height: 510px;
}
.aboutusData{
 
height: 550px;
  padding: 20px;
    display: flex;

}
.instructorTitle{
    text-align: center;
}

.Insstructors:hover{
    transform: scale(1.2);
  
}

.btn{
    background-color: #06bbcc;
}
.heading:hover, .txt:hover {
    padding: 1px;
    background-color: #06bbcc;
}
